{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <div class="container">
        <h2 class="section-title" data-aos="fade-up">Your Profile</h2>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card" data-aos="fade-up">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-4">Update Your Information</h4>
                        <form action="/profile" method="post">
                            <div class="mb-3">
                                <label for="name" class="form-label"><i class="fas fa-user"></i> Name</label>
                                <input type="text" style="color:beige" class="form-control" id="name" name="name" value="{{ user.name }}" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label"><i class="fas fa-password"></i> Password</label>
                                <input type="password" class="form-control" id="Password" style="color:beige" name="Password" value="{{ user.password }}" required>
                            </div>
                            <div class="mb-3">
                                <label for="role" class="form-label"><i class="fas fa-user"></i> Surname</label>
                                <input type="text" class="form-control" id="surname" style="color:beige" name="surname" value="{{ user.surname }}" required>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-glow">Update Profile</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}